body {
    overflow-y: hidden;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #3f3f3f00;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(87, 86, 86);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(109, 108, 108);
}